*{
    margin: 0;
    padding: 0;
}
.main{
    min-height: 650px;
}

.c{
    background-color: rgb(37, 104, 171);
    width: 100%;
}

.mfgk{
    width: 25%;
    display: inline-block;
}

h1{
    text-align: center;
    color: blanchedalmond;
}

.ekfjke{
    display: inline-block;
    width: 50%;
    text-align: center;
}

ul li{
    color: white;
    display: inline-block;
    font-size: 20 px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.right{
    display: inline-block;
    width: 20%;
    padding: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
}

input{width: 60%;
height: 30px;}

ul li:hover{
    background-color: #44f4a2;
}
input.sumit:hover{
    background-color: #665544;
}
input.submit:active{
    background-color: rgb(212, 125, 62);
}
input.text:focus{
    color: blanchedalmond;
}
.icons img{
    width:30px;
    cursor: pointer;
}
.icons{width: 100%;
}
img:hover{
    background-color:rgb(24, 113, 42);
}